/* tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

.get-started-btn {
  width: 13rem;
  height: 3rem;
}

.input,
.get-started-free-btn {
  width: 16rem;
  height: 3rem;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon {
  width: 16px;
  height: 16px;
}

.icon-wrapper {
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  border: 2px solid white; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-link {
  display: block;
  text-decoration: none;
}

.icon-link:hover {
  opacity: 0.8; /* Adjust opacity on hover */
}


@media (min-width: 1440px) {
  nav {
    padding: 4rem;
  }

  .logo {
    width: 7rem;
  }
}
