/* tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}
.get-started-btn {
  width: 13rem;
  height: 3rem;
}

.input,
.get-started-free-btn {
  width: 16rem;
  height: 3rem;
  margin-inline: auto;
}

@media (min-width: 1440px) {
  nav {
    padding: 4rem;
  }

  .logo {
    width: 7rem;
  }
}
